@import url('https://fonts.googleapis.com/css?family=Magra');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
html{
    clip:auto;
    overflow:hidden;
}
.background-img{
  position:absolute;
  height:60vh;
  top:0%;
  left:0%;
  width:100vw;
  background:url("http://www.hrmasia.com/sites/default/files/39156528_l.jpg") no-repeat center;
  background-size:cover;
}
.background-img::after{
  background-image: linear-gradient(to right, black, #6f7c80);
  position:absolute;
  opacity:0.50;
    top:0%;
  left:0%;
  height:58vh;
  width: 100vw;
  content: '';
}
#name{
  
  z-index:11;
  font-family:'Magra';
  font-size:13vh;
  width:100vw;
  color:white;
  position:absolute;
  top:-10%;
  text-align:center;
}
.avatar, .left-img, .right-img{
    background-size:cover;
  z-index:10;
  position:absolute;
  transform:translate(-50%, 0);
  border-radius:50%;
}
.left-img, .right-img{
  height:25vh;
  width:15vw;
  top:62%;
  background-size:15vw 25vh;

}
.avatar{ 
    background-image:url(ava.jpg);

  height:38vh;
  width:20vw;
  top:45%;
  left:50%;
  border: 0.5rem solid #f0f0f0;
}
.left-img{
    background-image:url(smiley.png) ;
}
.right-img{
    background-image:url(heart.png);
}
.left-img, #work-btn{
  left:30%;
}
.right-img, #contact-me-btn{
  left:70%;
}
.buttons{
  position:relative;
  top:60vh;
  height:15vh;
}
#my-story-btn, #work-btn, #contact-me-btn{
  position: absolute;
}
#my-story-btn, #contact-me-btn, #work-btn{
  font-family:Alegreya Sans;
  color:white;
  font-size:5vh;
    transform:translate(-50%, 0);
    background-color:#d1d1d1;
  border-radius:1rem;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:0.5vh;
  padding-bottom:0.5vh;
}
#my-story-btn{
  top:40%;
  left:50%;
}

#my-story-btn:hover, #work-btn:hover, #contact-me-btn:hover{
  background-color:#292929;
  font-size:6vh;
}

.copyright{
    position:relative;
    top:75vh;
    font-size:1rem;
    text-align:center;
    color:#d1d1d1;
}


